#root > table{
    margin-top: 2rem;
    @media (max-width: 768px) {
       
        width: min-content
        
      }
    tbody{
        @media (max-width: 768px) {
       
            width: min-content
            
          }
        
    
    }
}