footer{
   margin-top: 12rem;
      
.footer-container-fluid{
    background-color: black;
   
    .footer-container{
        display: flex;
        justify-content: center;
        .copyright{
            margin-top: 0.5rem;
            color: white;

        }

    }
    
    
    }
}